.SettingGroupForm {
  width: 600px;
  margin: 50px auto 0;
  padding: 30px;
  color: #fff;
  background-color: rgba(17,55,107,.8);
  border-radius: 20px;
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,.5);
  height: 400px;
}
.SettingGroupForm h1 {
  text-align: center;
  font-size: 3rem;
  letter-spacing: 3px;
  border-bottom: 1px solid rgb(108, 113, 116);
  width: 400px;
  margin: 0 auto;
  margin-bottom: 40px;
}
.SettingGroupForm__input {
  width: 100%;
  letter-spacing: 1px;
  padding: 5px;
  border-radius: 10px;
  box-sizing: border-box;
  margin-bottom: 20px;
}
.SettingGroupForm__field {
  width: 400px;
  height: 100px;
  margin: 0 auto;
}
.MemberList {
  border-bottom: 1px solid rgb(108, 113, 116);;
}
.MemberList label {
  margin-right: 5px;
  font-size: 1.4rem;
}
.GroupButton  {
  margin: 0 0 30px 125px;               
  color: #fff;
  background-color: rgba(214,173,36,.9);
  display: inline-block;
  height: 30px;
  width: 150px;
  letter-spacing: 1px;
  text-align: center;
  text-decoration: none;
  border-radius: 50px;
}
.SettingGroupForm__errors ,
.errors{
  color: red;
  text-align: center;
  font-size: 1.4rem;
}