.Form__new {
  width: 800px;
  height: 600px;
  margin: 40px auto 0 ;
  background-color: rgba(17,55,107,.8);
  border-radius: 20px;
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,.5);
  padding: 20px;
  color: #fff;
}
.Form__new h2 {
  text-align: center;
  font-size: 4rem;
  letter-spacing: 3px;
  border-bottom: 1px solid rgb(108, 113, 116);
  width: 400px;
  margin: 0 auto;
  margin-bottom: 40px;
}
.Form {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.Form__contents {
  text-align: right;
  width: 700px;
}
.Form__inputTitle,
.Form__inputText {
  width: 100%;
  letter-spacing: 1px;
  padding: 5px;
  border-radius: 10px;
  box-sizing: border-box;
}
.Form__inputTitle {
  margin-bottom: 20px;
}
.Form__submit {            
  color: #fff;
  background-color: rgba(214,173,36,.9);
  display: inline-block;
  height: 45px;
  width: 120px;
  letter-spacing: 1px;
  text-align: center;
  text-decoration: none;
  border-radius: 50px;
}
.Form__icon {
  color: black;
  width: 100px;
  height: 30px;
  padding: 5px;
  text-align: center;
  background: rgba(255,255,255,.8);
  border-radius: 5px;
}
.Hidden {
  display: none;
}
